<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuriAssist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.png') }}" type="image/x-icon">
</head>
<body>
    <div class ="nav">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">

        <ul>
            
            
        </ul>
    </div>
    <div class="container">
        <div class="left">
            <h1 style = "font-size: 60px;text-align: center;">Welcome to<span style = "color:#ffbf00"> JuriAssist</span></h1>
            <p style = "font-size: 20px;">Your one-stop solution for all things related to the Indian Penal Code (IPC). <br>Whether you're a <span style = "color:#ffbf00">law student, legal professional, or simply curious</span><br> our platform makes exploring the law <span style = "color:#ffbf00">simple, insightful, and accessible.</span></p>
            <a href="{{ url_for('login') }}">Get Started</a>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2025 JuriAssist. All rights reserved.</p>
    </div>
</body>
</html>