<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuriAssist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.png') }}" type="image/x-icon">

    <style>
        body {
        min-height: 100vh;
        margin: 0;
        background: linear-gradient(135deg,#ffffff, #000000, #000000);
        }

    </style>
</head>
<body>
    
<div class="container" style="border:2px solid #ffbf00; width: 500px; padding: 20px; border-radius: 10px; box-shadow: 0px 6px 20px #ffbf00; text-align: center; position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%);">
    <div class="left">
        <h1 style="font-size: 40px; margin-bottom: 20px; ">SIGN<span style="color:#ffbf00;">UP</span></h1>
        <form action="{{ url_for('signup' )}}" method="post" style="display: flex; flex-direction: column; align-items: center;">
            <label for="name" style="align-self: flex-start; margin-left: 10%;">Enter Fullname:</label>
            <input id="name" type="text" name="name" placeholder="Fullname" required style="width: 80%; padding: 10px; margin: 5px 0 15px 0; border: 1px solid #ccc; border-radius: 5px;">

            <label for="username" style="align-self: flex-start; margin-left: 10%;">Enter Username:</label>
            <input id="username" type="text" name="username" placeholder="Username" required style="width: 80%; padding: 10px; margin: 5px 0 15px 0; border: 1px solid #ccc; border-radius: 5px;">

            <label for="password" style="align-self: flex-start; margin-left: 10%;">Enter Password:</label>
            <input id="password" type="password" name="password" placeholder="Password" required style="width: 80%; padding: 10px; margin: 5px 0 15px 0; border: 1px solid #ccc; border-radius: 5px;">

            <button type="submit" class = "sub"style="width: 50%; padding: 10px; margin-top: 15px; background-color: #ffbf00; color: white; border: none; border-radius: 5px; cursor: pointer;font-size: 20px;">SUBMIT</button>
        </form><br>
        Already have an account? <br><a href="{{ url_for('login') }}" style="display: inline-block; margin-top: 20px; padding: 10px 25px; border-radius: 5px;">LOGIN</a>
    </div>
</div>



    <div class="footer">
        <p>&copy; 2025 JuriAssist. All rights reserved.</p>
    </div>
</body>
</html>