body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#ffffff, #ffffff,#000000,#000000,#000000);
    background-attachment: fixed;
    color: white;
    
}


.nav {
    position:static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    background: linear-gradient(135deg,#ffffff, #ffffff,#000000,#000000);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 6px 18px #ffbf00;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 1px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding-left: 3px;
}

.nav a {
    text-decoration: none;
    color: #ffbf00;
    font-weight: bold;
}
.nav a:hover{
    display: flex;
    color:#ffffff;
    text-decoration: underline;
    border-radius: 6px;  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    padding: 20px;
    text-align: center;
    

}

.container h1{
    animation: slideDownText 1s ease-out forwards;
}
.container p{
    animation: slideDownText 1.5s ease-in-out;
}

@keyframes slideDownText {
    0% {
        transform: translateY(-50px);
        opacity: 0;
        
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container a{
    display: inline-block;
    padding: 10px 20px;
    background:#ffbf00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.container a:hover {
    background-color: black;
    
    color:#ffbf00;
    border:1px solid #ffbf00;
}
.footer{
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg,#ffffff,#000000,#000000, #000000,#000000);
    color: #ffbf00;
    position: fixed;
    bottom: 0;
    width: 100%;
   
    box-shadow: 0px 20px 20px 20px #ffbf00;
}
.logo{
    height: 50px;
}

